@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

@font-face {
	font-family: "caviarDreamsBold";
	src: url("caviar_dreams_bold/Caviar_Dreams_Bold/CaviarDreams_Bold.eot");
	src: url("caviar_dreams_bold/Caviar_Dreams_Bold/CaviarDreams_Bold.woff")
		format("woff"),
		url("caviar_dreams_bold/Caviar_Dreams_Bold/CaviarDreams_Bold.svg")
		format("svg"),
		url("caviar_dreams_bold/Caviar_Dreams_Bold/CaviarDreams_Bold.otf")
		format("otf");
}

#posts {
	width: calc(100% - 150px);
	float: right;
}

#search{
	
	width: 150px;
	float: left; 
	/*border-right: 5px solid #d3d3d3;*/
}

.sticky{
	position: fixed;
 	top: 0;
}

html {
	width: 100%;
	margin: 0 auto;
}

body {
	margin: 0 auto;
	font-family: 'caviarDreamsBold', Helvetica Neue, Helvetica, Arial,
		sans-serif;
}

nav {
	height: 50px;
	position: relative;
	z-index: 1;
	width: 100%;
	vertical-align: top;
	margin: 0 auto;
}

li {
	padding-right: 10px;
}

h2 {
	text-align: center;
	position: center;
	color: black;
}

.body {
	position: center;
}

.footer {
	height: 50px;
	color: white;
	width: 100%;
}

.footer #copy {
	text-align: center;
	height: 80px;
	background-color: #383838;
}

.footer #copy p {
	padding-top: 5px;
}

.post {
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	text-align: center;
	margin: 0 auto;
}

#blogTitle {
	height: 600px;
	width: 100%;
	background-image: url("images/Travel-Blog.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 600px;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 35px;
}

#seperater {
	height: 25px;
	width: 100%;
	background-color: #d3d3d3;
	text-align: center;
	margin-bottom: 2%;
}

.teamLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 80px;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
	color: #ff0000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}